
<body style="background-color:powderblue;">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">LTI</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="nav-link" routerLink="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a class="nav-link" routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            
          </ul>
        </div>
      </nav>
    
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Vehicle Insurance </a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Contact</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> About Us </a></li>
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Help</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> FAQ </a></li>
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
    
    
    
          </ul>
        </div>
      </nav>
    
    
      <div id="b">
       
    
    Why Insurance Image
    
    
    
    
    
      </div>
      <div align="center" id="a"> 
          <br/>
          <br/>
    
          <button (click)="buyInsurance()" class="btn btn-primary custom">Buy Insurance</button>  <br/>
    
        
    
        <button type="button" (click)="renewInsurance()" class="btn btn-primary custom">Renew Insurance</button><br/>
        <button type="button" (click)="claimInsurance()" class="btn btn-primary custom">Claim Insurance</button><br/>
        <button type="button" (click)="estimateCalculation()" class="btn btn-primary custom">Estimate Calculation</button><br/>
        <br/>
        <br/>
        
    
    
      </div>
    <div>
    
    
    
    
    
        
    </div>
    </body>