<nav class="navbar nav">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Vehicle Insurance </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
       
        
          <button  (click)="myProfile()" class="btn btn-danger navbar-btn">My Profile</button>
       
        <li><a routerLink="/userlogin" routerLinkActive="active">LogOut</a></li>
        
        
    
        
  
  
  
  
      </ul>
    </div>
  </nav>

  <h1 style="text-align:center">Renew Your Policy!</h1>


    <!-- <label>Choose you Policy Duration (In Years)</label>
</div>
    <div class="row4">
       
        <br/>
        <input list = "years" [(ngModel)]="policy.Duration">
        <datalist id="years">
           <option *ngFor="let c of years" [value]="c">{{c}}</option>
          
        </datalist>
        <br/>
    </div>

    <div class="row5">
        <button (click)="renewPolicy()" class="btn btn-primary">Check Out </button>
    </div>

    </div> -->

    <div class="center">

    <div class="row3">
        <label>Choose you Policy Duration</label>
    </div>
        <div class="row4">
            <br/>
            <form [formGroup]="myprevpolicy">
            <input list = "years"  class="form-control" formControlName="Duration">
            <p class="alert alert-danger" *ngIf="d.touched && d.invalid">
                
                <span class="alert alert-danger" *ngIf="d.errors">InValid Duration</span>
           </p>
            <datalist id="years">
               <option *ngFor="let c of years" [value]="c">{{c}}</option>
              
            </datalist>
            </form>
        </div>
    
        <div class="row5">
            <button (click)="renewPolicy()" class="btn btn-primary">Check Out </button>
        </div>

        </div>