<h1>Reset Password</h1>
    <form name="frmLogin">
        <table align="center">
            <tr>
                <td>
                    <label>Username</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="txtUN" placeholder="Username" class="form-control" onblur="checkUser()" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Password</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" id="txtPass" placeholder="Enter Password" class="form-control" onblur="checkPass()"/>
                </td>
            </tr>


            <tr>
                <td>
                    <input type="password" id="txtPass" placeholder="ReEnter Password" class="form-control" onblur="checkPass()"/>
                </td>
            </tr>


            <tr>
                <td>
                    <button id="search" class="btn btn-primary"><a id="aref" href="">Reset Password</a></button>
                    
                </td>
            </tr>
            
            
           
        </table>
        <br/>
        
    </form>
