<form>
    <label>Enter Car/Bike Manufacturer</label>
         <input type="text" class="form-control" >
       
       
          <label>Enter Car/Bike Model</label>
          <input type="text" class="form-control">
        
    
          <label>Enter Driving License</label>
          <input type="text" class="form-control">
       
            
       
      
          <label>Enter Purchase Date</label>
          <input type="date" class="form-control" >
       
             
       
          <label>Enter Registeration Number</label>
          <input type="text" class="form-control">
       
       <label>Enter Engine Number </label>
       <input type="text" class="form-control" >
     
    
    <label>Enter Chaissis Number</label>
    <input type="text" class="form-control">
    
       
    
     
      <button click="" class="btn btn-primary">Submit</button>  
       </form>