<div class="container">
    <form [formGroup]="mycard">
    <table class="table table-bordered" align="center">
        <thead class="thead-dark">
        <tr>
            <th>Payment Options</th>
        </tr>
        </thead>
        
        <tbody>
        <tr>
                <td><input type="radio" name="paymenttype" checked>&nbsp;Credit Card</td>		
        </tr>
        <tr>	
               
        </tr>
        
        <tr id="details">
                <td>
                <div class="container"><div class="container">
                <article class="card">
    <div class="card-body p-5">
    
    <ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
        <li class="nav-item">
            <a class="nav-link active bg-success" data-toggle="pill" href="#nav-tab-card">
            <i class="fa fa-credit-card"></i> Credit Card Details</a></li>
    </ul>
    <div class="tab-content">
    <div class="tab-pane fade show active" id="nav-tab-card">
        
        <div class="form-group">
            <label for="username">Full name (on the card)&nbsp;&nbsp;<i class="fa fa-address-card-o"></i></label>
            <input type="text" class="form-control" required formControlName="name">
            <p class="alert alert-danger" *ngIf="name.touched && name.invalid">
                <span class="alert alert-danger" *ngIf="name.errors.required">Name cannot be empty</span>
           </p>
        </div> 
    
        <div class="form-group">
            <label for="cardNumber">Card number</label>
            <div class="input-group">
                <input type="number"  class="form-control" name="cardNumber" formControlName="number">
                <p class="alert alert-danger" *ngIf="number.touched && number.invalid">
                   
                    <span class="alert alert-danger" *ngIf="number.errors.required">Number cannot be empty</span>
                    <span class="alert alert-danger" *ngIf="number.errors">Check Again!</span>
               </p>
                <div class="input-group-append">
                    <span class="input-group-text text-muted">
                        <i class="fa fa-credit-card"></i> 
                    </span>
                </div>
            </div>
        </div> 
    
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label><span class="hidden-xs">Expiration</span>&nbsp;&nbsp;<i class="fa fa-calendar"></i> </label>
                    <div class="input-group">
                        <input type="number" maxlength="4" class="form-control" placeholder="MM" formControlName="month">
                        <p class="alert alert-danger" *ngIf="month.touched && month.invalid">
                            <span class="alert alert-danger" *ngIf="month.errors.required">Month cannot be empty</span>
                            <span class="alert alert-danger" *ngIf="month.errors">  Check Again! </span>
                       </p>
                        <input type="number" maxlength="4" class="form-control" placeholder="YYYY" formControlName="year">
                        <p class="alert alert-danger" *ngIf="year.touched && year.invalid">
                            <span class="alert alert-danger" *ngIf="year.errors.required">Year cannot be empty</span>
                            <span class="alert alert-danger" *ngIf="year.errors">Check Again! </span>
                            
                       </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label data-toggle="tooltip" data-original-title="3 digits code on back side of the card">CVV <i class="fa fa-question-circle"></i></label>
                    <input type="password" maxlength="3" class="form-control" formControlName="cvv">
                    <p class="alert alert-danger" *ngIf="cvv.touched && cvv.invalid">
                        <span class="alert alert-danger" *ngIf="cvv.errors.required">CVV cannot be empty</span>
                        <span class="alert alert-danger" *ngIf="cvv.errors">Check Again!</span>
                   </p>
                </div> 
            </div>
        </div>
    </div> 
    </div>
    </div>
               
       
        <tr>
            <td>
            <input type="submit" (click)="donePayment()" class="btn btn-primary btn-block" value="Proceed">
            </td>
        </tr>
        
     </article>
     </div>
     </div>
     </td>
     </tr>
     </tbody>
     </table>
     </form>
