.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }

  .container {
    background: linear-gradient(
      to right, 
      #ffffff 0%, 
      #ffffff 50%, 
      #000000 100%, 
      #000000 100%
    );
  }