
<img src="../../assets/images/image7.jpg" width="100" height="100" alt="Italian Trulli">

<h1>Thank You !!!! </h1>

<p class="center">
  <img src="../../assets/images/image10.jpg" width="300" height="100" alt="Italian Trulli">
</p>

  
<!--<button (click)="generatePdf()">Open PDF</button>-->









  



    <table class="table table-dark" id="contentToConvert">
        <thead>
          <tr>
            <th scope="col">Transaction Id</th>
            <th scope="col">Policy ID</th>
            <th scope="col">Policy Owner</th>
            <th scope="col">Car Name </th>
            <th scope="col">Car Manufacturer </th>
            <th scope="col">Car Registeration Number </th>
          </tr>
        </thead>
        <tbody>
            <tr>
              
              <td>{{TransactionId}}</td>
              <td>{{PolicyId}}</td>
              <td>{{PolicyOwner}}</td>
              <td>{{carName}}</td>
              <td>{{Manufacturer}}</td>
              <td>{{RegisterationNumber}}</td>
            </tr>

<p style="vertical-align:bottom; font-family:verdana" >
<b>
            Insurance is the subject matter of solicitation. Visitors are hereby informed that their information submitted on the website may be shared with insurers.

            The product information for comparison displayed on this website is of the insurers with whom our company has an agreement.
            
            Product information is authentic and solely based on the information received from the Insurer ©️ Copyright 2008-2020 ltiinsurance.com. All Rights Reserved.
            
            +All savings provided by insurers as per IRDAI approved insurance plans. Standard T& C apply.
</b>

</p>



          <button class="btn btn-primary" onclick="window.print();"> Download Your Policy</button>