<!-- <h1>Reset Password</h1>
   <form>
        <table align="center">
            <tr>
                <td>
                    <label>Username</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="txtUN" placeholder="Enter Email" class="form-control" [(ngModel)]="login.Email" required />
                </td>
            </tr>

            <button class="btn btn-primary" (click)="otp()">Send Otp</button>
            <tr>
                <td>
                    <input type="number" name="txtPass" placeholder="Enter Otp" class="form-control" [(ngModel)]="userEnteredValue" required />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Password</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" name="txtPass" placeholder="Enter Password" class="form-control" [(ngModel)]="login.Password" required />
                </td>
            </tr>


            <tr>
                <td>
                    <input type="password" name="txtPass" placeholder="ReEnter Password" [(ngModel)]="retypePassword" class="form-control" required/>
                </td>
            </tr>


            <tr>
                <td>
                    <button class="btn btn-primary" (click)="resetPassword()">Reset Password</button>
                    
                </td>
            </tr>
            
            
           
        </table>
        <br/>
        </form> -->



        <h1>Reset Your Password</h1>
        <div class="alert alert-success">
            <form [formGroup]="mylogin">
                 
                <!-- <input type="text"  class="form-control" formControlName="email"/>
                <p class="alert alert-danger" *ngIf="email.touched && email.invalid">
                    <span class="alert alert-danger" *ngIf="email.errors.required">Email cannot be empty</span>
                    <span class="alert alert-danger" *ngIf="email.errors.pattern">Email should be valid</span>
               </p> -->
        
        
               <label>Email</label>
               <input type="text" class="form-control" formControlName="em">
             <p class="alert alert-danger" *ngIf="em.touched && em.invalid">
                  <span class="alert alert-danger" *ngIf="em.errors.required">Email cannot be empty</span>
                  <span class="alert alert-danger" *ngIf="em.errors.pattern">Email should be valid</span>
                  
            </p>
            <button class="btn btn-primary" (click)="sendOtp()">Send Otp</button>
            <br/>
            <input type="number" name="txtPass" placeholder="Enter Otp" class="form-control" formControlName="otp" />
            <p class="alert alert-danger" *ngIf="otp.touched && otp.invalid">
                <span class="alert alert-danger" *ngIf="otp.errors.required">Otp cannot be empty</span>
                
                
          </p>

            <br/>
                <label>Password</label>
                <input type="password" class="form-control" formControlName="password" />
                <p class="alert alert-danger" *ngIf="pd.touched && pd.invalid">
                    <span class="alert alert-danger" *ngIf="pd.errors.required">Password cannot be empty</span>    
               </p>

               <label> Confirm Password</label>
    <input type="password" class="form-control"formControlName="confirmpw" >
    <p class="alert alert-danger" *ngIf="confirmpw.touched && confirmpw.invalid">
     <span class="alert alert-danger" *ngIf="confirmpw.errors.required"> Confirm Password cannot be empty</span>
     <span class="alert alert-danger" *ngIf="confirmpw.errors.minlength">Confirm Password should has minimum length 7</span>
 </p>

                 <button (click)="resetPassword()" class="btn btn-primary">Reset</button>
                          <!----<input type="checkbox" value="Remember me" checked/> Remember me-->
                        
                             <br/><br/>

                            
            </form>
            <div style="text-align: center;" *ngIf="showError">
                <span style="border:1px solid red;">
                 <b> 
                  Invalid Credentials!!
                 </b>
                </span>
            </div>













    
        <div *ngIf="showError === true">

            <label>Please Check Your Entries Again!</label>

            </div>