<section  class="alert alert-success">
   





    <label>Plans</label>
    <br/>
    <div class="row1">
        <label>Choose your Policy Type</label>
    </div>
    <div class ="row2">

        
           

            <label>Select Policy Type</label>
            <br/>
            <input list = "types" [(ngModel)]="policy.Policy_Type">
            <datalist id="types">
               <option *ngFor="let c of types" [value]="c">{{c}}</option>
              
            </datalist>
            <br/>

             <select name="types" [(ngModel)]="policy.Policy_Type"> 
                <option *ngFor="let c of types" [value]="c">{{c}}</option> 
            </select>  
           
        

        </div>
    <div class="row3">
        <label>Choose you Policy Duartion</label>
    </div>
        <div class="row4">
           
            <br/>
            <input list = "years" [(ngModel)]="policy.Duration">
            <datalist id="years">
               <option *ngFor="let c of years" [value]="c">{{c}}</option>
              
            </datalist>
            <br/>
        </div>


        



        <div class="row5">
            <button (click)="generatePolicyDetails()" class="alert-success">Check Out </button>
        </div>

       



        

